body {
    font-family: "Roboto Mono", monospace;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

  

.container {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
    
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

.image-container {
    text-align: center; 
    margin-top: 20px; 
}

.image-container img {
    max-width: 100%;
    height: auto; 
    border-radius: 8px; 
}

.canva-embed {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 56.25%; 
    margin-top: 20px; 
    box-shadow: 0 2px 8px 0 rgba(63, 69, 81, 0.16);
    border-radius: 8px;
    overflow: hidden;
}

.canva-embed iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
}

/* Estilos CSS para o collage de imagens */
.image-collage {
    display: flex; /* Usa flexbox para posicionar as imagens */
    flex-direction: column; /* Empilha as imagens verticalmente */
    align-items: center; /* Centraliza as imagens horizontalmente */
}

.image-collage img {
    max-width: 100%; /* Define a largura máxima de cada imagem */
    border-radius: 8px; /* Adiciona bordas arredondadas */
    margin-bottom: 20px; /* Adiciona uma margem inferior entre as imagens */
}

.image-left,
.image-right {
    width: 50%; /* Divide a largura da imagem em duas colunas */
}

.image-below {
    width: 100%; /* Usa a largura total para a imagem abaixo */
}


